<div ng-class="{'healthy': item.score >= 60 || !item.score, 'ancestor': !item.parentId, 'pNode': !isLeaf(item), 'childNode': isLeaf(item), 'expand': item.$$isExpand}">
	<i class="itemIcon" ng-if="!isLeaf(item)" ng-click="itemExpanded(item, $event);"></i>
	<div class="pName" ng-if="isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="background: {{!item.parentId ?color.sColour: 'transparent'}};" ng-repeat="color in colors">
		<i class="iconfont" ng-if="item.name.indexOf('服务器') != -1 && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe612;</i>
		<i class="iconfont" ng-if="item.name == '应用' && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe8e3;</i>
		<i class="iconfont" ng-if="item.name == '业务' && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe60c;</i>
		<i class="iconfont" ng-if="item.name == '硬件' && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe638;</i>
		<i class="iconfont" ng-if="item.name == '作业计划' && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe702;</i>
		<i class="iconfont" ng-if="item.name == '基础管理' && isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="color: {{color.sColour}};" ng-repeat="color in colors">&#xe671;</i>
		<span ng-bind="item.name">CPU</span>
		<div class="score" ng-bind="item.score" ng-if="isNumber(item.score) && (item.score <= color.sMax) && (item.score > color.sMin)" style="background: {{color.sColour}};" ng-repeat="color in colors">
			5.5分
		</div>
		<div class="fnArea">
			<i class="iconfont icon-add" title="新增子节点" ng-click="addNode(item, $event)">&#xe623;</i>
			<i class="iconfont icon-mod" title="编辑子节点" ng-click="modNode(item, $event)">&#xe615;</i>
			<i class="iconfont icon-del" title="删除子节点" ng-click="delNode(item, $event)">&#xe606;</i>
		</div>
	</div>
	<div class="pName" ng-if="!isNumber(item.score)">
		<i class="iconfont" ng-if="item.name.indexOf('服务器') != -1">&#xe612;</i>
		<i class="iconfont" ng-if="item.name == '应用'">&#xe8e3;</i>
		<i class="iconfont" ng-if="item.name == '业务'">&#xe60c;</i>
		<i class="iconfont" ng-if="item.name == '硬件'">&#xe638;</i>
		<i class="iconfont" ng-if="item.name == '作业计划'">&#xe702;</i>
		<i class="iconfont" ng-if="item.name == '基础管理'">&#xe671;</i>
		<span ng-bind="item.name">CPU</span>
		<div class="fnArea">
			<i class="iconfont icon-add" title="新增子节点" ng-click="addNode(item, $event)">&#xe623;</i>
			<i class="iconfont icon-mod" title="编辑子节点" ng-click="modNode(item, $event)">&#xe615;</i>
			<i class="iconfont icon-del" title="删除子节点" ng-click="delNode(item, $event)">&#xe606;</i>
		</div>
	</div>
	<div class="segLine" ng-show="item.$$isExpand">
	</div>
</div>
<ul ng-if="!isLeaf(item)" ng-show="item.$$isExpand">
	<li ng-repeat="item in item.nodes" ng-class="{'f_0': !isLeaf(item)}" ng-include="'./directives/topology/treeItem.html'">
    </li>
</ul>